.t-task {
  width: 95%;
  background: #262626;
  border: 1px solid #333333;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.t-task p {
  font-size: 14px;
  line-height: 19px;
  color: #F2F2F2;
  margin-right: auto;
}

p.textCompleted {
  color: #808080;
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
  transition: all 300ms ease-in-out;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #4EA8DE;
  transition: all 300s ease-in-out;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #12a750;
  transition: all 300ms ease-in;
}

.deleteButton {
  background: none;
  border: none;
  color: #808080;
}
.editButton {
  background: none;
  border: none;
  color: #808080;
  margin-right: 15px;
}


@media screen and (max-width: 680px){
    .t-task{
        max-width: 550px;
    }
}
@media screen and (max-width: 500px){
    .t-task{
        max-width: 91%;
    }
}